* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body {
          font-family: 'Josefin Sans', sans-serif;
          background: rgb(0, 0, 0);
}

.container {
          width: 90%;
          min-width: 100vw;
          max-width: 1200px;
          margin: 0 auto;
          overflow: hidden;
}

.slider {
          margin-top: 300px;
          background: rgb(0, 0, 0);
          padding: 40px 0;
}

.slider_container {
          display: grid;
          grid-template-columns: 50px 1fr 50px;
          align-items: center;
          gap: 1em;
}

.slider_body {
          grid-column: 2/3;
          grid-row: 1/2;
          opacity: 0;
          pointer-events: none;
          display: grid;
          background: rgb(0, 0, 0);
          grid-template-columns: 1fr max-content;
          align-items: center;
          transition: opacity 1.5s;
}

.slider_body_show {
          opacity: 1;
          pointer-events: unset;
}

.slider_text {
          max-width: 600px;
}

.subtitle {
          font-size: 2.5rem;
          margin-bottom: 20px;
          font-family: "Inconsolata", monospace;
          color: aliceblue;
}

.slider_review {
          font-weight: 300;
          font-size: 20px;
          line-height: 1.7;
          color: aliceblue;
}

.slider_img {
          width: 400px;
          height: 400px;
          border-radius: 50%;
          object-fit: cover;
          display: block;
          margin: 0 auto;
          margin-right: 200px;
}

@media (max-width:768px) {
          .slider_body {
                    grid-template-columns: 1fr;
                    grid-template-rows: max-content 1fr;
                    gap: 1em;
          }

          .slider_picture {
                    grid-row: 1/2;
          }

          .slider_img {
                    width: 210px;
                    height: 210px;
          }
}

.carousel {
          display: flex;
          overflow: hidden;
          width: 100%;
}

.carousel-container {
          display: flex;
          transition: transform 0.5s ease-in-out;
}

.carousel-item {
          min-width: 100%;
          box-sizing: border-box;
}